//Fonts
$mainFont: "Montserrat", sans-serif;

// Colors

$backgroundColor: rgba(255, 255, 255, 1);
$color1: rgba(78, 81, 80, 1);
$color2: rgba(169, 169, 169, 1);
$color3: rgba(229, 229, 229, 1);
$color4: rgba(189, 189, 189, 1);

// Breakpoints

$tablet: 960px;
$mobile: 660px;
$mobile2: 360px;
